<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Thông tin sinh viên</h2>
<form th:action="@{/students/save}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}">
    Tên: <input type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span><br/>

    Email: <input type="text" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span><br/>

    Tuổi: <input type="number" th:field="*{age}">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color:red"></span><br/>

    <button type="submit">Lưu</button>
</form>
<a th:href="@{/students}">Hủy bỏ</a>
</body>
</html>